body{
    font-family: serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;

}
h2{
    color:rgb(52, 111, 220);
    align-items:flex-end;
}
p{  
    margin-top: 70px;
    font-size: 100px;
    margin-bottom: 100px;
    font-family: serif;
    color:rgb(52, 111, 220);

}
.display{
    margin-top: 100px;
    background-color: rgb(52, 111, 220);
    color:aliceblue;
    border-radius: 7mm;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 80%;
    margin-bottom: 100px;
}
ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

} 
input{
    border: none;
    font-size: xx-large;
   
}
button{
    padding: 10px;
    font-size: xx-large;
    font-family: serif;
}



li{
    font-size: xx-large;
    list-style-type: none;
    display: inline-block;
}
li span{
    display: block;
    /* font-size: xx-large; */
     
} 
span{
    font-size: 50px;
}